:root{
	--dark-theme: #343a40;
}
body {
	margin: 0;
	background-color: lightgrey;
	font: 1em helvetica, arial, sans-serif;
}

.footer{
	color: whitesmoke;
	display: flex;
	justify-content: space-around;
	background-color: var(--dark-theme);
}

.footer h4{
	text-align: center;
}

.footer-message{
	margin-top: 1em;
}

.card-img{
	grid-area: image;
}

.card-content{
	grid-area: content;
}
.card-footer{
	grid-area: footer;
}
.card-grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
    "image content"
    "footer footer";

}

@media(max-width:48em){
	.footer{
		display: grid;
		justify-content: unset;
		text-align: center;
	}

	.footer .navbar{
		display: inline-block;
	}

	.card-grid{
		grid-template-columns: 1fr;
		grid-template-areas: 
		"image"
		"content"
		"footer";
	}
}