:root{
	--dark-theme: #343a40;
}
body {
	margin: 0;
	background-color: whitesmoke;
	font: 1em helvetica, arial, sans-serif;
}

.footer{
	color: whitesmoke;
	background-color: var(--dark-theme);
	display: grid;
	justify-content: unset;
	text-align: center;
}

.footer .navbar{
	display: inline-block;
}

.footer h4{
	text-align: center;
}

.footer-message{
	margin-top: 1em;
}

.card-img{
	grid-area: image;
}

.card-content{
	grid-area: content;
	display: grid;
	grid-template-rows: 3fr 1fr;
}

.card-content-links{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.card-footer{
	grid-area: footer;
}
.card-grid-wide{
	margin: 1em;
}

.card-grid{
	margin: 1em;
}

.blur-background{
	backdrop-filter: blur(3px);
    background-color: rgba(0,0,0, 0.2);
}

/* Tablet size */
@media(min-width:48em){
	
	.footer{
		display: flex;
		justify-content: space-around;
	}
}

/* Laptop size */
@media(min-width:75em){
	.card-grid-wide{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 
		"image content"
		"footer footer";
	}
}